.noteCard {
    background-color: #0F4C75;
}

.cardBody {
    overflow: visible;
    mask-image: linear-gradient(180deg, #000 60%, transparent);
    font-family: comic-sans;
    display: flex;
    height: 100%;
}

.cardText {
    white-space: pre-line;
}

@font-face {
    font-family: comic-sans;
    src: url(comic.ttf);
}

.passwordText {
    font-family: comic-sans;
    border-right: 1px solid black;
}